<div class="" id="main">
  <h3>Submit feedback of {{teacher}}</h3>
<!-- Include the above in your HEAD tag ---------->
{{#if user}}
  {{user}}
{{/if}}

{{#if roll}}
<h2>Roll details:</h2>
  {{#each roll}}
    {{this}}
  {{/each}}
{{/if}}

{{#if teachers}}
  {{teachers}}
{{/if}}

<div class="container">
<div class="col-md-5">
    <div class="form-area">
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Feedback Form</h3>
    				<div class="form-group">
            <label>Name of the teacher:</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					  </div>

					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
					</div>

          <div class="form-group">
            <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
          </div>

        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>

</div>

<script>
$(document).ready(function(){
    var from,to,subject,text;
    $("#submit").click(function(){
        //to=$("#to").val();
        subject=$("#subject").val();
        text=$("#content").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){


});
    });
});
</script>
