<!-- flash for login errors -->
{{#if error}}
<div class="container-fluid" id="main">
  <h6 class="alert alert-danger">{{error}}</h6>
</div>
{{/if}}

{{#if msg}}
<div class="container-fluid" id="main">
  <h6 class="alert alert-success">{{msg}}</h6>
</div>
{{/if}}


<div class="container" style="margin-top:100px">

    <form class="form-signin" method="post" action="/users/login">
        <h2>{{pageTitle}}</h2>
        <div class="form-label-group">
            <label>LoginID</label>
            <input name="loginid"type="text" class="form-control" placeholder="LoginID" required autofocus>

        </div>

        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input name="password"type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:25px;">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
