<div class="container-fluid" id="main">
  <h4>Welcome</h4>
  <h3>VIT TEACHERS PAGE</h3>

  <div class="teachers" class="container-fluid">
    <div class="teacher">
      <img class="img-responsive" src="./../public/images/teachers/INFT/abhishek_barve"/>
    </div>
  </div>
</div>
