
#main
{ margin-top: 90px;
  font-family: monospace;
}


.teachers
{
  background-color: #ffe5e5;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 60%;
  max-width: 100%;

}

.teachers  li{
  list-style-type: none;
}
.teachers li a
{
  text-decoration: none;
  color: black;
}

.teachers li a:hover
{
  text-decoration:underline;
  color:#909115;
}
